.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s, border-left 0.3s;
  background-color: rgb(7, 5, 22);
}

.nav-link {
  background-color: rgb(7, 5, 22);
}

.nav-link.active {
  background-color: rgb(7, 5, 22, 0.8);
  border-left: 4px solid #ffffff;
}

.nav-link:hover {
  background-color: rgb(7, 5, 22, 0.8);
}

.nav-link i {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.nav-link span {
  font-size: 0.7rem;
}
.nav {
  width: 80px;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  background-color: #343a40;
  transition: transform 0.3s ease-in-out;
}
.nav.ng-hide {
  transform: translateX(-100%);
}
