.table-responsive {
  margin-top: 20px;
  padding: 0;
  overflow-x: auto;
}
.table th,
.table td {
  vertical-align: middle;
}

.deal-button {
  border: 1px solid #0026fd;
  border-left: 4px solid #ffffff;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
}
.custom-row {
  height: 30px;
}
.bi {
  font-size: 1rem;
}

.container-fluid {
  padding: 0;
  margin: 0;
  width: 100%;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.table {
  width: 100%;
}

.btn-transparent {
  background-color: transparent;
  border: none;
  padding: 2;
}

.blue-icon {
  color: rgb(53, 53, 255);
}

.yellow-icon {
  color: rgb(238, 198, 0);
}

.red-icon {
  color: red;
}

.btn-transparent .btn-sm {
  padding: 5px;
}
.bold-icon {
  font-size: 1rem;
}
